<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-avatar style="margin-left: 10px;">
        <img src="assets/touxiang.jpeg" [routerLink]="['/dousers']"  >
      </ion-avatar>
      <ion-title  text-center>LovUCircle </ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  
  <form (ngSubmit)="addList()" #addListForm="ngForm">
        <ion-row margin class="row1">
        <ion-button  expand="block"  fill="clear" > <ion-icon name="images"></ion-icon></ion-button>
        <ion-input placeholder="ajouter une liste" required id="title" type="text" name="title" [(ngModel)]="title" #ctrlTitle="ngModel">
        </ion-input>
      <ion-button  expand="block" type="submit" fill="clear" [disabled]="!addListForm.valid"> <ion-icon name="paper-plane"></ion-icon>
      </ion-button>
    
  </ion-row>
  </form>

  
    

   <ion-card color="light" *ngFor="let todolist of todolists">
    <ion-item color="lulu" >
      <ion-label>
        <h2 >{{ todolist.owner }}</h2>
      </ion-label>
      <ion-button fill="clear" [routerLink]="['/dousers',  todolist.id]" > <small>settings</small> </ion-button>
    </ion-item>
     <ion-item text-wrap> 
       {{todolist.title}}
     </ion-item>
     <ion-row>
       <ion-col>
         <ion-button fill="clear" > <small>12likes</small> </ion-button>
       </ion-col>
       <ion-col>
        <ion-button fill="clear" [routerLink]="['/todoslist',  todolist.id]" > <small>ajouter une tache</small> </ion-button>
      </ion-col>
      <ion-col>
         <ion-button fill="clear" > <small>12likes</small> </ion-button>
       </ion-col>
     </ion-row>
   </ion-card>
  </ion-content>