
.tubiao{
   
    margin-top: 10px; 
    width:250px; 
    height:230px; 
    border-radius:50%; 
    margin-left: 38%;
}
.cc{
    margin-top: 10px;
    text-align: center;
    color: dodgerblue;
   font-size: 18px;
}
.icon{
    text-align: center;
  
}
.icon a ion-icon{
font-size: 50px;
margin-left: 10px;
color: darkorange;;
}


.newform ion-list ion-row {
    background-color: rgb(255, 230, 218);
    margin-left: 12%;
    width: 75%;
    border: solid orange 1px;
    margin-top: 10px;
    border-radius: 30px;
}
.newform div ion-button{
    margin-left: 12%;
    width: 75%;
} 