<ion-header>
  <ion-toolbar>
    <ion-title text-center>dousers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item color="light">  
    <ion-label> 
      <h2 style="color: slategrey;">Owner</h2>
    </ion-label>
  </ion-item>

  <ion-item color="light" *ngFor="let todolist of todolists.slice(0,1)">  
    <ion-label> 
      <h2>{{ todolist.owner }}</h2>
    </ion-label>
  </ion-item>

  <ion-item color="light">  
    <ion-label> 
      <h2 style="color: slategrey;">Writer</h2>
    </ion-label>
  </ion-item>

   <form (ngSubmit)="addList()" #addListForm="ngForm">
    <ion-row margin class="row1">
    <ion-input placeholder="writername" required id="title" type="text" name="title" [(ngModel)]="title" #ctrlTitle="ngModel">
    </ion-input>
  <ion-button  expand="block" type="submit" fill="clear" [disabled]="!addListForm.valid"> <ion-icon ios="ios-add" md="md-add"></ion-icon>
  </ion-button>
</ion-row>
</form>

<ion-item color="light">  
  <ion-label> 
    <h2 style="color: slategrey;">Reader</h2>
  </ion-label>
</ion-item>
<form (ngSubmit)="addReader()" #addReaderForm="ngForm">
  <ion-row margin class="row1">
  <ion-input placeholder="readername" required id="readername" type="text" name="readername" [(ngModel)]="readername" #ctrlTitle="ngModel">
  </ion-input>
<ion-button  expand="block" type="submit" fill="clear" [disabled]="!addReaderForm.valid"> <ion-icon ios="ios-add" md="md-add"></ion-icon>
</ion-button>
</ion-row>
</form>


  </ion-content>
